.padding_from_top {
  padding-top: 5%;
}

.phoneborder_afterlogin {
  border: 5px solid black;
  border-radius: 25px;
  width: 250px;
  height: 525px;
  background-color: #fff;
}

.user_Image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.border_right_links {
  border-right: 2px solid white;
  height: auto;
}
.userdaboard_color {
  background-color: #090909;
}
.add_link_heading {
  color: white !important;
  font-size: 13px;
}
.link_color {
  color: #1f9b92;
  font-size: 15px;
}
.Linker_pages_heading {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
